body {
    font-family: 'Poppins', sans-serif;
}

/*navbar section start*/
.nav-logo{
    height:55px;
    width: 180px;
}
.nav-section,.bg-light {
    background-color: #F0FFF0!important;
}
.nav-item{
    margin: 0px 15px;
    line-height: 50px;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 600;
    font-size: 17px;
}
.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: overline;
}
.btn-success{
    border-radius: 20px;
    background-color: #21B573;
    text-decoration: none;
    padding: 5px 30px;
}
/*navbar section end*/


/*learning section end*/
.learning-section{
    background-color: #F0FFF0;
}
.learning-section h1{
    font-weight: 700;
    letter-spacing: 1px;
}
.btn-get-started{
    padding: 7px 18px;
    margin-left: -17px;
}

/*learning section end*/

/*second section start*/
.second-section{
    margin-top: 3rem;
}
.card-div{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}
.card-div .card img{
    height:65px;
    width:65px;
    margin: 0px auto;

}
.card{
    margin-top: 60px;
    padding: 55px 15px 20px 15px;
    background-color: #F0FFF0;
    border: none;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0px 0px 30px 0px #888888;
    background-color: white;
    cursor: pointer;
}
.card-heading{
    text-align: center;
    font-size: 1.5rem;
    color: #413960;
}
.card-text{
    text-align: center;
    font-size: 1rem;
    color: #413960;
}
#book{
    padding-right:2.1rem;
    padding-left:2.1rem;
}
/*second section end*/


/*online course section start*/
.online-course{
    margin-top: 8rem;
}
.online-course .btn{
    margin-left: -4px;
}
.online-course .card-text {
    text-align: left;
    font-size: 1rem;
    color: #413960;
}
.online-course .card-footer{
    border: none;
    background-color:#F0FFF0 ;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}
.online-course .card:hover .card-footer{
    background-color:#fff ;

}
/*online course section end*/

/*form-section start*/
.form-section{
    margin: 6rem 0 2rem 0;
}
.form-section .container{
    width:40%;
    background-color: #F0FFF0;
    padding-bottom: 3rem;
    border-radius: 5%;
}
.form-section .join-us-heading{
    padding:2rem 0 4rem 0;
}
/*form-section end*/

/*testimonia section start*/
.testimonial{
    margin: 0rem auto;
    padding: 6rem 0;
}
.testimonial-heading h1{
    font-weight: 600;
    margin-bottom: 5rem;
}
.media{
    width: 60%;
    margin: 5rem auto;
}
.media img{
    height: 90px ;
    width: 90px ;
}
.media-body p{
    font-size: 1rem;
    font-weight: 500;
    padding-left: 20px;
}

/*testimonia section end*/



/*footer start*/
.footer{
    background-color:#282531;
    padding: 4rem 0px 1rem 0px;
}
.footer ul li{
    list-style: none;
    color: white;
    padding-bottom: 10px;
}
.footer ul li:hover{   
    color: rgb(103, 255, 171);
    cursor: pointer;
}
.last-footer{
    margin: 0px auto;
    padding-top: 5rem;
    color: #c0c0c0;
    font-weight: 500;
    font-size: 0.9rem;
}





@media (max-width:411px){
    .card-div {
        
        margin-left: 4rem;
    }
    .learning-section-img img{
        padding-top: 3rem;
    }
    #book{
        padding-right:2.1rem;
        padding-left:2.1rem;
    }
    .form-section .container{
        width:85%;
    }
}